spring.application.name=WeatherForecast
spring.datasource.url=jdbc:postgresql://localhost:5432/weatherforecast
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD
logging.level.org.springframework.security=DEBUG
spring.datasource.driver-class-name=org.postgresql.Driver
api.security.token.secret=${JWT_SECRET:}